{% extends "home.html" %}
{% block content %}
<div style="height: 500px;width: 800px;margin-top: 20px;margin-left: 20px; ">
<div style="width: 200px; height: 50px">
            <span style="font-size: 20px;color: #345bb8; display: inline-block ;text-align: center ;line-height: 30px;">首页/用户管理</span>
        </div>
      <div class="block" style="height: 360px;">
      <label style="text-align:center;display: inline-block; padding:6px;background-color: #e3e3e3;width: 60px;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<a style="text-decoration: none;color: black;font-size: 12px;" href="/useradd/">添加</a></label>
        <div id="tablewidget" class="block-body collapse in">
            <table class="table">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>密码</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr name="{{ i.id }}">
                  <td>{{i.username}}</td>
                  <td>{{i.user_phone}}</td>
                  <td>
                      <label style="text-align:center;display: inline-block; padding:6px;background-color: #e3e3e3;width: 60px;"><a style="text-decoration: none;color: black;font-size: 12px;"  href="/usermodify-{{ i.id }}.html/">修改</a></label>
                      <label style="text-align:center;display: inline-block; padding:6px;background-color: #e3e3e3;width: 60px;"><a style="text-decoration: none;color: black;font-size: 12px;"  href="/detail-{{ i.id }}.html/">删除</a></label>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <ul class="pagination pagination-sm">
        {{ page_obj.page_str|safe }}
      </ul>
</div>
{% endblock %}