{% extends "home.html" %}
{% block content %}
    <div style="width: 200px; height: 50px ;margin-top: 20px; margin-left: 20px;">
            <span style="font-size: 20px;color: #345bb8; display: inline-block ;text-align: center ;line-height: 30px;">首页/修改用户</span>
        </div>
    <div style="margin-top: 50px;margin-left: 50px;">
        <form class="form-horizontal" action="/modifyuser/" method="post">
            {% csrf_token %}
                 <div class="form-group">
                     <input type="text" style="display: none" name="user_id" value="{{ user_info.id }}">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                      <p class="form-control-static" style="padding-left: 3px;">{{ user_info.username }}</p>
                    </div>
                  </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                  <input type="text" style="width: 250px;" class="form-control"value="{{ user_info.user_password }}" name="mypassword" placeholder="密码">
                </div>
              </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">联系方式</label>
                <div class="col-sm-10">
                  <input type="text" style="width: 250px;" value="{{ user_info.user_phone }}" class="form-control" name="myphone" placeholder="联系方式">
                </div>
              </div>
            <div class="form-group">
                 <label for="inputEmail3" class="col-sm-2 control-label">角色</label>
                <div class="col-sm-10">
                    <select style="width: 200px;" class="form-control" name="role">
                          <option value="0">管理员</option>
                          <option value="1">普通用户</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">确认修改</button>
                </div>
              </div>

        </form>

    </div>
{% endblock %}